* {
  margin: 0;
  padding: 0;
  //font-smooth: never;
  cursor: default;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --android-safe-top: 0px;
  --android-safe-bottom: 0px;
  --safe-top: max(env(safe-area-inset-top), var(--android-safe-top));
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  color: #070707;
  font-family: Tahoma, Verdana, Segoe, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 11px;
}

.app-desktop {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: teal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

p {
  margin-bottom: 0.25rem;
}

button.d-block, .button.d-block, input.d-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.r-pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* MQ */
@media (max-width: 500px) {
  .win-window {
    width: 90% !important;
  }
}

