* {
  margin: 0;
  padding: 0;
  //font-smooth: never;
  cursor: default;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {

  //background: #008080 no-repeat fixed center center;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center center;
  //background-size: cover;
  min-height: 100%;
  color: #070707;
  font-family: Tahoma, Verdana, Segoe, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-size: 11px;
  position: relative;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.app-desktop {
  height: 100%;
  width: 100%;
  background-color: teal;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

button.d-block, .button.d-block, input.d-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* MQ */
@media (max-width: 500px) {
  .win-window {
    width: 90% !important;
  }
}

