.content-loading {
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-image: url('@app/assets/img/loading.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px 36px;

  box-shadow: var(--forms-shadow);
  border: 1px solid var(--forms-border-left);
  border-right-color: var(--forms-border-right);
  border-bottom-color: var(--forms-border-right);
  background-color: var(--input-bg);
}

.win-window {
  z-index: 100;
}

//.frame > .fluid-height {
//  height: 100% !important;
//  max-height: 600px;
//
//  .win-window {
//    height: 100% !important;
//  }
//
//  .inner {
//    height: 100% !important;
//  }
//
//  .content-fluid {
//    position: absolute !important;
//    top: 21px;
//    right: 0;
//    left: 0;
//    bottom: 23px;
//  }
//
//  .statusbar {
//    position: absolute !important;
//    bottom: 1px;
//    left: 2px;
//    right: 2px;
//  }
//}

