@import "themes/elements.scss";

.memo {
  margin: 0;
  padding: 6px;
  font-size: 11px;
  line-height: 150%;
  cursor: text;
  border: 1px solid;
  @include border-shadow('content-shadow');
  @include border-color-tl('content-border-left');
  @include border-color-rb('content-border-right');
  @include background-color('inputs-bg');

  p {
    font-size: 12px;
    line-height: 150%;
    padding-right: 12px !important;
  }

  &.scroll {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .a {
    color: #0645AD;
    text-decoration: underline;
  }

  p.lead {
    font-size: 14px !important;
    font-weight: 700;
  }
}

.list {
  width: 100%;
  border: 1px solid;
  @include border-shadow('content-shadow');
  @include border-color-tl('content-border-left');
  @include border-color-rb('content-border-right');
  @include background-color('inputs-bg');

  //&.scroll {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //  padding: 1px 15px 1px 1px;
  //}

  table {
    width: 100%;
    border: none;
    margin: 0 16px 0 0;
    border-collapse: collapse;

    tr {
      border-bottom: 1px #c8c8c8 dashed;

      &.strike {
        text-decoration: line-through;
        opacity: 0.4;
      }

      &:last-child {
        border-bottom: none;
      }

      td {
        vertical-align: middle;

        &.nowrap {
          white-space: nowrap;
        }

        &.show-info {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }

          div {
            cursor: pointer;
          }
        }

        .artist {
          margin-bottom: 1px;
          font-weight: 700;
        }

        img {
          width: 100%;
          height: auto;
          background: #efe6eb;
          padding: 0;
          line-height: 0;
          border: 1px #808080 solid;
          border-right-color: #dfdfdf;
          border-bottom-color: #dfdfdf;
        }
      }
    }
  }
}
