@import "themes/elements";

.taskbar {
  padding: 2px 0 2px 0;
  border-top: 1px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  @include background-color('btn-bg-color');
  @include border-color('window-border-left');
  @include border-shadow('taskbar-shadow');

  &.taskbar-top {
    top: 0;
    bottom: auto;
  }

  .divider {
    height: 100%;
    width: 3px;
    @include border-shadow('window-shadow')
  }

  .local-time {
    margin-right: 2px;
    padding: 4px 0;
    text-align: center;
    border: 1px solid;
    @include font-color('font-color');
    @include border-color-tl('content-border-left');
    @include border-color-rb('content-border-right');
  }

  button {
    max-width: 150px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: left;
    cursor: pointer;
    @include font-color('taskbar-font-color');

    .title {
      padding-left: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    img {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 3px;
      top: 3px;
      cursor: pointer;
    }

    &.active {
      font-weight: bold;
      @include background('dots-background');
      @include border-shadow('btn-taskbar-shadow');
      @include border-color-tl('btn-border-right');
      @include border-color-rb('btn-border-left');
    }
  }
}
