#window-player {
  .player-visual {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
  }

  /* PLAYER VOLUME */

  .player-volume {
    height: 26px;
  }

  .player-volume-icon {
    width: 11px;
    height: 16px;
    float: right;
    margin: 5px 0 0 0;
    line-height: 26px;
    text-align: center;
    background: url('@desktop/styles/icons/volume.png') no-repeat center center;
  }

  .player-volume-icon img {
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: 0;
  }

  .player-volume-control {
    margin: 0 16px 0 0;
    height: 26px;
  }

  .player-volume-line {
    height: 4px;
    border-radius: 0;
    position: absolute;
    top: 10px;
    left: 0;
    right: 18px;
  }

  .noUi-horizontal .noUi-handle {
    right: -18px;
  }
}
