#window-user-register {
  .img-register {
    width: 120px;
    height: auto;
    max-width: 100%;
  }

  button {
    margin-bottom: 2px;
  }

  p.lead {
    font-size: 14px !important;
    font-weight: 700;
  }

  .img-captcha {
    width: 100%;
    height: auto;
  }
}
