a {
  color: var(--color-link);
  text-decoration: underline;
  cursor: pointer;
  outline: 0;

  &:link,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: var(--color-link);
    text-decoration: underline;
    cursor: pointer;
    outline: 0;
  }

  &.button {
    color: inherit !important;
  }

  img {
    cursor: pointer;
  }
}

.simple-border {
  border: 1px solid var(--forms-border-left);
  border-right-color: var(--forms-border-right);
  border-bottom-color: var(--forms-border-right);
}