div[data-theme="theme-contrast-w"] {
  --color: #000000;
  --color-disabled: #808080;
  --color-link: #0645AD;

  --input-bg: #ffffff;

  --button-bg: #ffffff;
  --button-border-left: #c0c0c0;
  --button-border-right: #808080;
  --button-border-active: #808080;

  --button-shadow:
          inset -1px 0px 0 0 #ffffff,
          inset -1px 1px 0 0 #d0b0b8,
          inset -1px -1px 0 0 #ffffff,
          inset 0px 0px 0 1px #d0b0b8
;
  --button-active-shadow:
          inset 0 0 0 1px #000000
;

  --window-border-left: #d0b0b8;
  --window-border-right: #000000;
  --window-shadow:
          inset -1px 0px 0 0 #808080,
          inset -1px 1px 0 0 #c0c0c0,
          inset -1px -1px 0 0 #808080,
          inset 0px 0px 0 1px #c0c0c0;

  --window-header-color: #ffffff;
  --window-header-color-inactive: #000000;
  --window-header-gradient: linear-gradient(to right, #000000, #000000);
  --window-header-gradient-inactive: linear-gradient(to right, #ffffff, #ffffff);

  --forms-border-left: #808080;
  --forms-border-right: #c0c0c0;
  --forms-shadow:
          inset -1px 0px 0 0 #d0b0b8,
          inset -1px 1px 0 0 #000000,
          inset -1px -1px 0 0 #d0b0b8,
          inset 0px 0px 0 1px #000000;

  --taskbar-font-color: #000000;

  --taskbar-shadow: inset 0 1px 0 0 #d0b0b8;
  --taskbar-btn-shadow:
          inset -1px 0px 0 0 #d0b0b8,
          inset -1px 1px 0 0 #ffffff,
          inset -1px -1px 0 0 #d0b0b8,
          inset 0px 0px 0 1px #ffffff
;
}