:root {
  --color: #000000;
  --color-disabled: #8a8a8a;
  --color-link: #0645AD;

  --input-bg: #ffffff;

  --button-bg: #c0c0c0;
  --button-border-left: #ffffff;
  --button-border-right: #000000;
  --button-border-active: #000000;

  --button-shadow:
          inset -1px 0px 0 0 #808080,
          inset -1px 1px 0 0 #dfdfdf,
          inset -1px -1px 0 0 #808080,
          inset 0px 0px 0 1px #dfdfdf
;
  --button-active-shadow:
          inset 0 0 0 1px #808080
;

  --window-border-left: #dfdfdf;
  --window-border-right: #000000;
  --window-shadow:
          inset -1px 0px 0 0 #808080,
          inset -1px 1px 0 0 #ffffff,
          inset -1px -1px 0 0 #808080,
          inset 0px 0px 0 1px #ffffff;

  --window-header-color: #ffffff;
  --window-header-gradient: linear-gradient(to right, #000080, #1084d0);
  --window-header-gradient-disabled: linear-gradient(to right, #808080, #c0c0c0);
  --window-header-button-max: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='9' style='fill: rgb(0, 0, 0);'%3E%3C/rect%3E%3Crect x='0' y='0' width='9' height='2' style='fill: rgb(0, 0, 0);'%3E%3C/rect%3E%3Crect x='8' y='0' width='1' height='9' style='fill: rgb(0, 0, 0);'%3E%3C/rect%3E%3Crect x='0' y='8' width='9' height='1' style='fill: rgb(0, 0, 0);'%3E%3C/rect%3E%3C/svg%3E");
  --window-header-button-min: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Crect x='1' y='7' width='6' height='2' style='fill: rgb(0, 0, 0);'%3E%3C/rect%3E%3C/svg%3E");
  --window-header-button-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' width='9' height='9'%3E%3Cline style='stroke: rgb(0, 0, 0);' x1='1' y1='1' x2='8' y2='8'%3E%3C/line%3E%3Cline style='stroke: rgb(0, 0, 0);' x1='8' y1='1' x2='1' y2='8'%3E%3C/line%3E%3C/svg%3E");

  --forms-border-left: #808080;
  --forms-border-right: #ffffff;
  --forms-shadow:
          inset -1px 0px 0 0 #dfdfdf,
          inset -1px 1px 0 0 #000000,
          inset -1px -1px 0 0 #dfdfdf,
          inset 0px 0px 0 1px #000000;

  --taskbar-font-color: #000000;
  --taskbar-shadow: inset 0 1px 0 0 #ffffff;
  --taskbar-btn-dots-bg: url('@app/styles/ui/icons/bg-dots-gray.png');
  --taskbar-btn-shadow:
          inset -1px 0px 0 0 #dfdfdf,
          inset -1px 1px 0 0 #808080,
          inset -1px -1px 0 0 #dfdfdf,
          inset 0px 0px 0 1px #808080
;
  --select-dropdown-icon: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 18 18' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M6.19 8.51L4 6.01L8.38 6L12.76 6L10.57 8.5L8.38 11L6.19 8.51Z' id='a3xRoeOAmW'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a3xRoeOAmW' opacity='1' fill='%23000000' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}