@import "~#common/styles/base";
@import "~#common/styles/content";
@import "~#common/styles/pagination";
@import "~#common/styles/utils";

@import "~#common/styles/windows/about";
@import "~#common/styles/windows/alert";
@import "windows/loading";
@import "~#common/styles/windows/news";
@import "~#common/styles/windows/player";
@import "~#common/styles/windows/ratings";
@import "~#common/styles/windows/settings-background";
@import "~#common/styles/windows/song-info";
@import "~#common/styles/windows/support";
@import "~#common/styles/windows/user-favorites";
@import "~#common/styles/windows/user-login";
@import "~#common/styles/windows/user-register";

.btn-start {
  background-image: url('/assets/mobile/icons/windows-0.png') !important;
  background-size: 21px 21px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/**
Android
 */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.win98 {
  input {
    font-size: 12px;

    &:focus {
      outline: none;
      border: 1px #000000 dashed;
    }
  }

  button {
    &:focus {
      outline: none;
    }
  }
}


.statusbar table {
  font-size: 12px;
}
