@font-face {
    font-family: 'icons';
    src:  url('@app/assets/fonts/icons/icons.eot?e3a5vr');
    src:  url('@app/assets/fonts/icons/icons.eot?e3a5vr#iefix') format('embedded-opentype'),
    url('@app/assets/fonts/icons/icons.ttf?e3a5vr') format('truetype'),
    url('@app/assets/fonts/icons/icons.woff?e3a5vr') format('woff'),
    url('@app/assets/fonts/icons/icons.svg?e3a5vr#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.i {
    /* use !important to prevent issues with browser extensions that change ../fonts/icons */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
    content: "\e94e";
}
.icon-user:before {
    content: "\e971";
}
.icon-cog:before {
    content: "\e994";
}
.icon-favorite:before {
    content: "\e9d9";
}
.icon-like:before {
    content: "\e9da";
}
.icon-right-hand:before {
    content: "\ea42";
}
.icon-left-hand:before {
    content: "\ea44";
}
