@font-face {
    font-family: 'Tahoma';
    src: url('@app/assets/fonts/tahoma/subset-Tahoma.eot');
    src: url('@app/assets/fonts/tahoma/subset-Tahoma.eot?#iefix') format('embedded-opentype'),
    url('@app/assets/fonts/tahoma/subset-Tahoma.woff2') format('woff2'),
    url('@app/assets/fonts/tahoma/subset-Tahoma.woff') format('woff'),
    url('@app/assets/fonts/tahoma/subset-Tahoma.ttf') format('truetype'),
    url('@app/assets/fonts/tahoma/subset-Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.eot');
    src: url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
    url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.woff2') format('woff2'),
    url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.woff') format('woff'),
    url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.ttf') format('truetype'),
    url('@app/assets/fonts/tahoma/subset-Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
