#window-support {
  .content p.lead {
    font-size: 14px !important;
    line-height: 14px;
  }

  .pp-link {
    display: inline-block;

    img {
      display: inline-block;
      height: 32px;
      width: auto;
    }
  }
}
