#window-news {

  .memo {
    position: relative;
    min-height: 100px;
    font-family: monospace, monospace;
    font-size: 11px;

    h2 {
      font-size: 14px;
      line-height: 100%;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 4px;
    }

    ul {
      margin-left: 16px;
      margin-bottom: 4px;
    }
  }
}
