@import "../mixins";

.win-button {
  @include d3-object;
  @include font;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  text-align: center;
  line-height: 16px;
  outline: none !important;
  padding: 3px 6px;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none !important;
  margin: 0;
  color: inherit;

  &__icon {
    height: 16px;
    width: auto;
    display: block;
    line-height: 0;
    cursor: pointer;
  }

  i {
    cursor: pointer;
    line-height: 11px;
  }

  &:enabled {
    color: var(--color);
  }

  &:disabled {
    color: var(--color-disabled);
    text-shadow: 1px 1px white;

    &__icon {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  &:active:enabled, &.active {
    box-shadow: var(--button-active-shadow);
    border-left-color: var(--button-border-active);
    border-top-color: var(--button-border-active);
    border-right-color: var(--button-border-active);
    border-bottom-color: var(--button-border-active);
  }
}
