@import "../mixins";
@import "../variables";

.win-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;

  input[type="checkbox"] {
    display: none;
  }

  .checkmark {
    @include d3-content;
    width: 13px;
    height: 13px;
    position: relative;
    cursor: pointer;
  }

  input:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 13px;
    height: 13px;
    background-image: url('@app/styles/ui/icons/checkmark.svg');
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .label-text {
    cursor: pointer;
  }
}
