.win-group-box {
  .win-group-box__body {
    border: 1px solid var(--forms-border-left);
    box-shadow: var(--window-shadow);
    border-right-color: var(--forms-border-right);
    border-bottom-color: var(--forms-border-right);
  }

  .win-group-box__label {
    position: relative;
    height: 5px;

    span {
      position: absolute;
      top: -2px;
      left: 8px;
      z-index: 5;
      background-color: var(--button-bg);
    }
  }
}
