.statusbar, .win-statusbar {
  margin: 2px 1px;

  background-image: url("@app/styles/ui/icons/statusbar.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12px 16px;

  .cell {
    padding: 3px 4px;
    line-height: 100%;
    border: 1px solid var(--forms-border-left);
    border-right-color: var(--forms-border-right);
    border-bottom-color: var(--forms-border-right);

    &.d {
      margin-right: 2px;
    }

    &.login {
      margin-left: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
