.win-taskbar-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9997;
  background-color: var(--button-bg);
  padding-bottom: max(env(safe-area-inset-bottom), var(--android-safe-bottom));

  &.is-top {
    top: 0;
    bottom: auto;
    padding-top: max(env(safe-area-inset-top), var(--android-safe-top));
    padding-bottom: 0;

    .win-taskbar {
      border-top: none;
      border-bottom: 1px solid var(--button-bg) !important;
      box-shadow: inset 0 -1px 0 0 var(--taskbar-shadow-color) !important;
    }

    .win-start-menu {
      top: 100%;
      bottom: auto;
      align-content: start;
    }

    .win-start-menu__mask {
      justify-content: flex-start;
    }

    .win-start-menu {
      align-content: start;
    }
  }
}

.win-taskbar {
  padding: 3px;
  background-color: var(--button-bg);
  border-top: 1px solid var(--button-bg);
  box-shadow: inset 0 1px 0 0 var(--taskbar-shadow-color);

  position: relative;
  z-index: 9998;

  .divider {
    height: 100%;
    width: 3px;
    box-shadow: var(--window-shadow);
  }

  .local-time {
    color: var(--color);
    margin-right: 2px;
    padding: 3px 0;
    text-align: center;
    border: 1px solid var(--forms-border-left);
    border-right-color: var(--forms-border-right);
    border-bottom-color: var(--forms-border-right);
  }

  button {
    max-width: 150px;
    overflow: hidden;
    cursor: pointer;
    color: var(--taskbar-font-color);
    justify-content: left;

    .win-button__text {

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }


    &.active {
      font-weight: bold;
      background: var(--taskbar-btn-dots-bg);
      box-shadow: var(--taskbar-btn-shadow);
      border-top-color: var(--button-border-right);
      border-left-color: var(--button-border-right);
      border-right-color: var(--button-border-left);
      border-bottom-color: var(--button-border-left);
    }
  }
}
