@import "../mixins";

.win-window {
  @include d3-window;
  @include font;

  width: 497px;
  cursor: default;
  margin: 0 auto;

  >.inner {
    position: relative;
    padding: 2px;
  }

  .content, .win-window__content {
    padding: 3px;
    margin: 1px 1px 0 1px;
    border: 1px solid var(--forms-border-left);
    border-right-color: var(--forms-border-right);
    border-bottom-color: var(--forms-border-right);
  }

  .header, .win-window__header {
    margin: 1px;
    padding: 2px;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--window-header-color);
    background: var(--window-header-gradient);

    &.inactive {
      background: var(--window-header-gradient-disabled);
    }

    .buttons {
      position: absolute;
      right: 3px;
      top: 2px;
      height: 16px;
      line-height: 0;

      button {
        margin: 0;
        padding: 2px;
        height: 16px;
        width: 16px;

        span {
          height: 100%;
          width: 100%;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }

        @include d3-object
      }

      .button-maximize span {
        background-image: var(--window-header-button-max);
      }

      .button-minimize span {
        background-image: var(--window-header-button-min);
      }

      .button-close span {
        background-image: var(--window-header-button-close);
      }
    }
  }

  .win-window__menu {
    margin: 1px 1px;
    line-height: 1;
    color: var(--color);
    font-size: 0;

    .action {
      cursor: pointer;
      display: inline-block;
      font-size: $font-size;
      padding: 5px 6px;
      text-decoration: none;

      &::first-letter {
        text-decoration: underline;
      }

      &:hover {
        border: 0;
        box-shadow: var(--window-shadow);
      }

      a {
        display: block;
        padding: 5px 6px;
        color: inherit !important;
        text-decoration: none;

        &:hover {
          border: 0;
          box-shadow: var(--window-shadow);
        }

        u {
          cursor: pointer !important;
        }
      }
    }
  }
}

.window-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 2px;
  background: url('@app/assets/img/ball.png') no-repeat;
  background-size: cover;

  &.help_question_mark {
    background-image: url('@app/assets/icons/help_question_mark-1.png')
  }
  &.msg_warning {
    background-image: url('@app/assets/icons/msg_warning-2.png')
  }
  &.msg_information {
    background-image: url('@app/assets/icons/msg_information-2.png')
  }
  &.calendar {
    background-image: url('@app/assets/icons/calendar.png')
  }
  &.chart {
    background-image: url('@app/assets/icons/chart1-2.png')
  }
  &.smiley {
    background-image: url('@app/assets/icons/utopia_smiley.png')
  }
  &.document {
    background-image: url('@app/assets/icons/document-1.png')
  }
  &.clock {
    background-image: url('@app/assets/icons/clock-0.png')
  }
  &.gears {
    background-image: url('@app/assets/icons/gears-1.png')
  }
  &.world {
    background-image: url('@app/assets/icons/world-5.png')
  }
  &.cd_audio {
    background-image: url('@app/assets/icons/cd_audio_cd_a-1.png')
  }
  &.user_computer {
    background-image: url('@app/assets/icons/user_computer-0.png')
  }
  &.world_star {
    background-image: url('@app/assets/icons/world_star-1.png')
  }
  &.keys {
    background-image: url('@app/assets/icons/keys-0.png')
  }
  &.settings_gear {
    background-image: url('@app/assets/icons/settings_gear_cool-3.png')
  }
  &.recycle_bin_full {
    background-image: url('@app/assets/icons/recycle_bin_full_2k-5.png')
  }
  &.modem {
    background-image: url('@app/assets/icons/modem-0.png')
  }
}

