$contrast: (
        'name': 'contrast',
        'font-color': #ffffff,
        'font-disabled': #8a8a8a,
        'link-color': #ffff00,
        'inputs-bg': #000000,
        'header-gradient': linear-gradient(to right, #0000ff, #0000ff),
        'header-gradient-inactive': linear-gradient(to right, #00ffff, #00ffff),
        'header-font-color': #ffffff,
        'btn-bg-color': #000000,
        'btn-border-left': #c0c0c0,
        'btn-border-right': #ffffff,
        'btn-shadow': (
                inset -1px 0px 0 0 #808080,
                inset -1px 1px 0 0 #ffffff,
                inset -1px -1px 0 0 #808080,
                inset 0px 0px 0 1px #ffffff
        ),
        'btn-active-border': #ffffff,
        'btn-active-shadow': (
                inset 0 0 0 1px #808080
        ),
        'window-border-left': #ffffff,
        'window-border-right': #ffffff,
        'window-shadow': (
                inset -1px 0px 0 0 #808080,
                inset -1px 1px 0 0 #c0c0c0,
                inset -1px -1px 0 0 #808080,
                inset 0px 0px 0 1px #c0c0c0
        ),
        'content-border-left': #808080,
        'content-border-right': #c0c0c0,
        'content-shadow': (
                inset -1px 0px 0 0 #c0c0c0,
                inset -1px 1px 0 0 #808080,
                inset -1px -1px 0 0 #c0c0c0,
                inset 0px 0px 0 1px #808080
        ),
        'btn-taskbar-color': #ffffff,
        'btn-taskbar-shadow': (
                inset -1px 0px 0 0 #d5ccbb,
                inset -1px 1px 0 0 #a28d68,
                inset -1px -1px 0 0 #d5ccbb,
                inset 0px 0px 0 1px #a28d68
        ),
        'taskbar-shadow': inset 0 1px 0 0 #eae6dd,
        'dots-background': url('@app/styles/plaza/icons/bg-dots-black.png'),
  // Contrast only
        'header-button-max': url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='9' style='fill: rgb(255, 255, 255);'%3E%3C/rect%3E%3Crect x='0' y='0' width='9' height='2' style='fill: rgb(255, 255, 255);'%3E%3C/rect%3E%3Crect x='8' y='0' width='1' height='9' style='fill: rgb(255, 255, 255);'%3E%3C/rect%3E%3Crect x='0' y='8' width='9' height='1' style='fill: rgb(255, 255, 255);'%3E%3C/rect%3E%3C/svg%3E"),
        'header-button-min': url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Crect x='1' y='7' width='6' height='2' style='fill: rgb(255, 255, 255);'%3E%3C/rect%3E%3C/svg%3E"),
        'header-button-close': url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' width='9' height='9'%3E%3Cline style='stroke: rgb(255, 255, 255);' x1='1' y1='1' x2='8' y2='8'%3E%3C/line%3E%3Cline style='stroke: rgb(255, 255, 255);' x1='8' y1='1' x2='1' y2='8'%3E%3C/line%3E%3C/svg%3E"),
        'select-dropdown-icon': url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 18 18' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M6.19 8.51L4 6.01L8.38 6L12.76 6L10.57 8.5L8.38 11L6.19 8.51Z' id='a3xRoeOAmW'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a3xRoeOAmW' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
)
