#window-loading {
  .progress-bar {
    position: relative;
    margin: 12px 5px 0 5px;
    height: 20px;
    overflow: hidden;
    border: 1px solid #808080;
    border-right-color: #dfdfdf;
    border-bottom-color: #dfdfdf;
    padding: 0 6px;
    min-height: 14px;
  }

  .progress-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
  }

  .progress-bar .progress div {
    display: inline-block;
    margin: 1px;
    height: 16px;
    width: 10px;
    background: #072269;
  }
}
